body.blog, body.single-post {

    .container {
        background-color: $white;
        padding-top: $row-standard-padding;
    }

    .wp-post-image {
        margin-bottom: 20px;
    }

    .widget_search {
        background-color: $secondary-color-lighter-accent;
        padding-bottom: $column-gutter / 2;
        padding-top: $column-gutter / 2;
        @include border-radius($global-radius-small);

        @media screen and (max-width: $medium-breakpoint) {
            background-color: $white;
            padding-top: 0;
        }

        .small-8 {

            input {
                padding-left: 30px;
            }

            &:before {
                content: "\F002";
                font-family: $font-family-icon-font;
                position: absolute;
                color: $muted-color;
                z-index: 2;
                left: 9px;
                top: 9px;
            }
        }

        input {
            margin: 0;
        }

        .button {
            @include border-radius(0 $global-radius-small $global-radius-small 0);
        }
    }

    .widget_recent_entries {
        margin-top: 25px;
        padding-bottom: $column-gutter / 2;
        padding-top: $column-gutter / 2;
        background-color: $secondary-color-lighter-accent;
        @include border-radius($global-radius-small);

        h6 {
            margin: 0;
        }

        ul {
            margin: 0;
            list-style: none;
        }

        li {
            padding: $padding-vertical-base 0;
            border-bottom: 1px solid $white;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .blog-header {
        font-weight: $font-weight-light;
        margin-bottom: 30px;

        p {
            display: inline;
            margin-left: 5px;
            font-weight: $font-weight-light;

            @media screen and (max-width: $medium-breakpoint) {
                display: block;
                margin-left: 0;
            }
        }
    }


    .author {
       color: $body-font-color;

        p {
            color: $body-font-color;
        }
    }
}

// Styles specific to the blog aggregate page
body.blog {

    .blog-title {
        margin-bottom: 5px;
        font-weight: $font-weight-normal;
    }

    .read-more {
        margin-bottom: 0;

        @media screen and (max-width: $medium-breakpoint) {
            width: 100%;
        }
    }

    .blog-divider {
        margin: 30px 0;
        border-color: $secondary-color-light-accent;
    }
}

// Styles specific to the a single blog post page
body.single-post {

    .blog-header {
        font-weight: $font-weight-light;
        margin-bottom: 20px;

        h1 {
            font-size: $h2-font-size;
            font-weight: $font-weight-normal;
            margin-bottom: 4px;

            @media screen and (max-width: $medium-breakpoint) {
                font-size: $h3-font-size;
            }
        }
    }
}