.page-template-page-contact-us {
    background-color: $white;

    .acf-map {
        height: $contact-us-map-height;
        margin-top: 0;
        border: $white;
    }

    .gmnoprint {
        display: none !important;
    }
}

.contact-location-wrapper {
    position: relative;
}

.contact-location-details {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: $contact-us-map-height;
    width: 100%;
}

.contact-location-panel {
    background-color: $contact-panel-bg;
    padding: ($padding-vertical-base * 2) ($padding-horizontal-base * 2);
    @include box-shadow (0, 0, 30px, rgba($black,0.15));

    .location-title {
        margin-top: center;
        text-align: center;
    }

    .contact-address {
        padding-left: ($padding-vertical-base * 2);
        position: relative;

        lo

        p {
            margin: 0;
        }
    }
}