///--- Styles for that gorgeous WP form --- ///

.wpcf7-form {

    .wpcf7-form-control {
        position: relative;
        padding-left: 40px;
        @include border-radius($global-radius-small);
    }

    .wpcf7-form-control-wrap {

        &:before {
            position: absolute;
            z-index: 2;
            left: 7px;
            font-size: 1.5em;
            top: 0;
            font-family: $font-family-icon-font;
            font-weight: $icon-font-light-weight;
            color: $primary-color;
        }

        &.your-name {

            &:before {
                content: "\F0D6"; // bt-user
            }
        }

        &.your-email {

            &:before {
                content: "\F001"; // bt-envelope
            }
        }

        &.your-phonenumber {

            &:before {
                content: "\F005"; // bt-phone
            }
        }
    }
}