/// -- Used for an image that spans 100% and has overlayed text -- ///

.full-width-image-block {
    color: white;
    overflow: hidden;
    position: relative;
    text-align: center;

    h2 {
        color: white;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;

        @media screen and (min-width: $large-breakpoint) {
           width: 100%;
        }

        @media screen and (max-width: $large-breakpoint) and (min-width: $medium-breakpoint) {
            max-width: 120%;
        }

        @media screen and (max-width: $medium-breakpoint) {
            max-width: 160%;
            left: 50%;
            @include transform(translate(-50%, 0));
        }

        @media screen and (max-width: $small-breakpoint) {
            max-width: 280%;
            top: -10px;
            @include filter(blur,6px);
        }
    }

    .button {
        margin: 20px 0 0;
    }

    .cta-phone-number {
        margin: 20px 0 0;
        font-size: $h5-font-size;
        font-weight: $font-weight-light;

        span {
            font-weight: $font-weight-ultra-bold;
        }
    }

    //Puts the content down the bottom
    &.full-width-image-block-bottom-cta {

        .row {
            padding-top: ($row-standard-padding * 4);
            padding-bottom: $row-standard-padding;

            @media screen and (max-width: $large-breakpoint) and (min-width: $medium-breakpoint) {
                padding-top: ($row-standard-padding * 3);
            }

            @media screen and (max-width: $medium-breakpoint) {
                padding-top: $row-standard-padding;
            }
        }
    }

    //Centers the content
    &.full-width-image-block-centered-cta {

        .row {
            padding-top: ($row-standard-padding * 3);
            padding-bottom: ($row-standard-padding * 3);

            @media screen and (max-width: $medium-breakpoint) {
                padding-top: $row-standard-padding;
                padding-bottom: $row-standard-padding;
            }
        }
    }

    // Block that has a newsletter sign up in it, overrides the one in the footer
    &.full-width-image-block-newsletter {
        margin-bottom: $row-standard-padding;

        @media screen and (max-width: $medium-breakpoint) {
            margin-bottom: $row-standard-padding / 2;
        }

        h2 {
            margin: 0;
        }

        .newsletter-heading {
            color: $white;
        }

        .newsletter-form {

            @media screen and (max-width: $medium-breakpoint) {
                padding-left: $column-gutter / 2;
                padding-right: $column-gutter / 2;
            }

            .button.postfix {
                margin-top: 0;
            }

            .newsletter-email-input {
                background-color: $white;
                border-color: $input-border-color;
            }

            .button {
                @include button-style;
            }

            ::-webkit-input-placeholder { // WebKit, Blink, Edge
                color:    $input-placeholder-color;
            }
            :-moz-placeholder { // Mozilla Firefox 4 to 18
                color:    $input-placeholder-color;
                opacity:  1;
            }
            ::-moz-placeholder { // Mozilla Firefox 19+
                color:    $input-placeholder-color;
                opacity:  1;
            }
            :-ms-input-placeholder { // Internet Explorer 10-11
                color:    $input-placeholder-color;
            }
        }
    }
}