/// -- The teaser blocks -- ///

.teaser-blocks {
    background-color: $white;
}

.teaser-block {
	text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 450px;
    position: relative;

	img {
        margin-bottom: $header-bottom-margin;
        width: $teaser-image-dimensions;
        border: 1px solid $secondary-color-light-accent;
		@include border-radius ($global-rounded);
	}

    .button {
        margin-bottom: 0;
    }

    @media screen and (max-width: $medium-breakpoint) {
        margin-bottom: 20px;
    }
}