/// --- A single testimonial quote with a profile picture -- ///

.testimonial-x-1-block {
    background-color: $white;
}

.testimonial-quote {

    p {
        font-weight: $font-weight-light;
    }

    &.testimonial-quote-small {

        p {
            font-size: $testimonial-quote-font-size-small;
        }
    }

    &.testimonial-quote-large {

        p {
            font-size: $testimonial-quote-font-size-lg;

            @media screen and (max-width:$medium-breakpoint) {
                font-size: $testimonial-quote-font-size;
            }
        }
    }
}

