.row-treatments-page {
    padding-top: 20px;
    background-color: white;

    h1 {
        border-bottom: 1px solid $secondary-color-light-accent;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }

    h4 {
        margin-top: 40px;
    }

    ul {
        background-color: $secondary-color-lighter-accent;
        list-style-type: none;
        padding: 30px;
        margin: 0 0 20px;
        font-size: 1.1em;
        @include column-count (2);
        @include column-rule (1px solid $secondary-color);
        @include column-gap ($column-gutter * 2);

        @media screen and (max-width: $small-breakpoint) {
            @include column-count (1);
        }

        li {
            padding-left: 30px;
            position: relative;

            &:before {
                font-family: $font-family-icon-font;
                font-weight: $icon-font-reg-weight;
                content: "\F014";
                margin-right: 10px;
                position: absolute;
                left: 0;
                color: $primary-color;
            }
        }
    }
}