.hp-hero {
    position: relative;
    margin-top: $topbar-height;
    background-color: rgba($primary-color,0.5);

    @media screen and (max-width: $topbar-breakpoint) {
        margin-top: 0;
    }
}

#big-video-wrap {
    overflow: hidden;
    position: absolute;
    margin-top: $topbar-height;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    @media screen and (max-width: $topbar-breakpoint) {
        margin-top: 0;
    }
}

.hp-hero-inner {
    padding-top: ($row-standard-padding * 2);
    padding-bottom: ($row-standard-padding * 2);

    @media screen and (max-width: $large-breakpoint) and (min-width: $medium-breakpoint) {
        padding-top: $row-standard-padding;
        padding-bottom: $row-standard-padding;
    }

    @media screen and (max-width: $medium-breakpoint) {
        padding-top: $row-standard-padding / 2;
        padding-bottom: $row-standard-padding / 2;
    }

    h1 {
        color: $white;
        font-size: $h2-font-size;

        @media screen and (max-width: $small-breakpoint) {
            font-size: $h3-font-size;
        }
    }

    .hp-hero-primary-button {
        display: block;
        margin: 30px auto 0;
    }

    .button {
        @media screen and (max-width: $small-breakpoint) {
            width: 100%;
        }
    }
}

#contact-form-anchor {
	position: relative;
	bottom: 50px;
}
