/// --- Our very own button styles --- ///

.button {
	text-transform: uppercase;

	&:hover, &:active, &:focus {
		border-color: $button-bg-hover;
	}

	//Gives a nice bit extra side padding for big important buttons
	&.extra-side-padding {
		padding-left: rem-calc(48);
		padding-right: rem-calc(48);

		&.large {
			padding-left: rem-calc(60);
			padding-right: rem-calc(60);
		}
	}

	// A darker version of the main button
	&.dark-primary  {
		@include button-style($bg:$button-dark-primary-bg, $bg-hover:$button-dark-primary-bg-hover, $border-color:$button-dark-primary-bg);
		color: $primary-color-lightest-accent;

		&:hover, &:active, &:focus {
			border-color: $button-dark-primary-bg-hover;
		}
	}

	&.outline {
		background-color: transparent;
		color: $primary-color;
		border-color:$secondary-color-light-accent;
	}

	//Button that has a slightly opaque background to go above images
	&.button-opacity {
		background-color: rgba($button-bg-color,$button-standard-opacity);
		border-color: rgba($button-bg-color,$button-standard-opacity);

		&:hover, &:active, &:focus {
			background-color: $button-bg-hover;
			border-color: $button-bg-hover;
		}
	}
}