/// --- Grid and positioning stuff --- ///

.row {

    &.row-standard-padding {
        padding-bottom: $row-standard-padding;
        padding-top: $row-standard-padding;

        @media screen and (max-width: $medium-breakpoint) {
            padding-bottom: $row-standard-padding / 2;
            padding-top: $row-standard-padding / 2;
        }
    }

    &.row-double-padding {
        padding-bottom: $row-standard-padding * 2;
        padding-top: $row-standard-padding * 2;

        @media screen and (max-width: $medium-breakpoint) {
            padding-bottom: $row-standard-padding;
            padding-top: $row-standard-padding;
        }
    }

    &.row-standard-padding-bottom {
        padding-bottom: $row-standard-padding;

        @media screen and (max-width: $medium-breakpoint) {
            padding-bottom: $row-standard-padding / 2;
        }
    }

    &.row-half-padding {
        padding-bottom: $row-standard-padding / 2;

        @media screen and (max-width: $medium-breakpoint) {
            padding-bottom: $row-standard-padding / 4;
        }
    }
}

.block-alt-color {
    background-color: $secondary-color-lighter-accent;
}
