/// -- Our very own special menu -- ///


.top-bar-logo {
    width: $topbar-logo-width;
    height: $topbar-logo-height;
    margin: $top-bar-logo-margin;

	@media screen and (max-width: $medium-breakpoint) {
		width: $topbar-logo-width / 2;
		height: $topbar-logo-height / 2;
		margin: 24px 0 24px 24px;
	}
}

.top-bar-section ul li>a {
    font-weight: $font-weight-normal;
}

// make the top bar fixed
.top-bar-container {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	background: white;
	z-index: 100;
}

// and add top padding to the body cover the top bax being fixed
body {
	padding-top: 80px;

	@media screen and (max-width: $medium-breakpoint) {
		padding-top: 0 !important;
	}
}

// but not on the homepage due to large video
body.home.page {
	padding-top: 0;


}

.tab-bar-section.middle {
	background-image: url(../assets/img/svh_sml_logo14112015.png);
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;

	h1 {
		@include squish-text;
	}
}