/// -- Our very own special menu -- ///


.top-bar-logo {
    width: $topbar-logo-width;
    height: $topbar-logo-height;
    margin: $top-bar-logo-margin;
}

.top-bar-section ul li>a {
    font-weight: $font-weight-normal;
}