// -- Custom type settings for SVH -- //

// Big link that mimics a Heading 4 but is an actual link
.uber-link {
    font-weight: $font-weight-ultra-bold;
    color: $anchor-font-color;
    font-size: $h4-font-size;
    margin: $header-top-margin 0 $header-bottom-margin;
    display: block;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}