// -- Custom type settings for SVH -- //

a {
    @include transition(all 0.3s ease-in-out);
}

// Big link that mimics a Heading 4 but is an actual link
.uber-link {
    font-weight: $font-weight-ultra-bold;
    color: $anchor-font-color;
    font-size: $h4-font-size;
    margin: $header-top-margin 0 $header-bottom-margin;
    display: block;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: $primary-color;
}

.text-muted {
    color: $muted-color;
}

.lead {
    font-weight: $font-weight-bold;
}

p.lead {
    line-height: $lead-line-height;
}

.h1 {
    font-size: $h1-font-size;
}

.h2 {
    font-size: $h2-font-size;
}

blockquote {

    p {
        font-size: $blockquote-font-size;
        margin: 0;
    }
}